* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
     background-color: #F4F0EA;
    color: #798252;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}
img{
 width: 5rem;
    border-radius: 5px;
}